html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e7e7e7;
  font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

main section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 290px;
  width: 290px;
  border: 1px solid #a3a3a3;
  position: relative;
}

main section:before {
  content: "";
  position: absolute;
  width: 83%;
  height: 83%;
  background: #3e3e3e;
  box-shadow: 0 0 14px -5px #000 inset, 2px 2px 0 0px #c3c3c3;
  z-index: -1;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 150ms;
}

main section > svg {
  width: 250px;
  height: 250px;
}

main section .light-dark {
  font-size: 14px;
  color: #626262;
  position: absolute;
  left: 14px;
  background: #e7e7e7;
  padding: 4px 8px;
  cursor: pointer;
  bottom: -10px;
}

main section .code {
  font-size: 14px;
  color: #626262;
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0px, 0px);
  background: #e7e7e7;
  padding: 4px 8px;
  cursor: pointer;
  bottom: -13px;
  margin: auto;
  display: none;
}

main section .refresh {
  position: absolute;
  cursor: pointer;
  width: 45px;
  height: 45px;
  bottom: -25px;
  background-color: #e7e7e7;
  right: 14px;
  margin: auto;
}

main section .refresh:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

main section .refresh svg {
  width: 100%;
  height: 100%;
}

main section .animation-type-container {
  display: flex;
  position: absolute;
  top: -8px;
  background-color: #e7e7e7;
  padding: 0px 10px;
}

main section .animation-type-container span {
  box-shadow: 0 0 0 1px #a3a3a3 inset;
  color: #626262;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
  font-size: 11px;
  font-weight: 200;
  cursor: pointer;
  transition: all 150ms;
}

main section .animation-type-container span.active {
  box-shadow: 0 0 0 3px #858585 inset;
  font-weight: 600;
  color: #000000;
}

main section.dark:before {
  opacity: 1;
}

main section svg.saman #path16,
main section svg.saman #path18,
main section svg.saman #path20 {
  animation-duration: 200ms;
  animation-iteration-count: 2;
}

main section svg.saman #path18 {
  animation-delay: 100ms;
}

main section svg.saman #path20 {
  animation-delay: 50ms;
}

main section svg.saman #path22 {
  stroke: transparent;
  fill: #024b8f;
  transform: translate3d(300px, 0px, 0px);
  stroke-width: 40px;
  stroke-dasharray: 800px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  animation-duration: 600ms;
  animation-iteration-count: 1;
}

main section.dark svg.saman #path22 {
  fill: #fff;
}

main section svg.saman.animate #path16,
main section svg.saman.animate #path18,
main section svg.saman.animate #path20 {
  animation-name: samanOne;
}

main section svg.saman.animate #path22 {
  animation-name: samanLogoType;
}

main section.dark svg.saman.animate #path22 {
  animation-name: samanLogoTypeDark;
}

main section.animate-2-saman svg.saman.animate #path16,
main section.animate-2-saman svg.saman.animate #path18,
main section.animate-2-saman svg.saman.animate #path20 {
  animation-name: samanTwo;
}

@keyframes samanLogoType {
  0% {
    fill: transparent;
    stroke: #024b8f;
    stroke-dashoffset: 0px;
  }

  50% {
    fill: transparent;
    stroke: #024b8f;
    stroke-dashoffset: 5500px;
  }

  100% {
    stroke-dashoffset: 0px;
    stroke-dasharray: 0px;
    fill: #024b8f;
    stroke: transparent;
  }
}

@keyframes samanLogoTypeDark {
  0% {
    fill: transparent;
    stroke: #ffffff;
    stroke-dashoffset: 0px;
  }

  50% {
    fill: transparent;
    stroke: #ffffff;
    stroke-dashoffset: 5500px;
  }

  100% {
    stroke-dashoffset: 0px;
    stroke-dasharray: 0px;
    fill: #ffffff;
    stroke: transparent;
  }
}

@keyframes samanOne {
  0% {
    transform: rotate3d(1, 0, 0, 0deg);
  }

  50% {
    transform: rotate3d(1, 0, 0, 10deg);
  }

  100% {
    transform: rotate3d(1, 0, 0, 0deg);
  }
}

@keyframes samanTwo {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }

  50% {
    transform: rotate3d(0, 1, 0, 15deg);
  }

  100% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
}

main section svg.dey .deyOne,
main section svg.dey .deyTwo,
main section svg.dey .dey-logo-type {
  animation-duration: 200ms;
  animation-iteration-count: 2;
}

main section svg.dey.animate .deyOne {
  animation-name: deyOne;
}

main section svg.dey.animate .deyTwo,
main section svg.dey.animate .dey-logo-type {
  animation-name: deyTwoPath2;
}

main section svg.dey .dey-logo-type:nth-of-type(7) {
  animation-delay: 25ms;
}

main section svg.dey .dey-logo-type:nth-of-type(10) {
  animation-delay: 50ms;
}

main section svg.dey .dey-logo-type:nth-of-type(5) {
  animation-delay: 75ms;
}

main section svg.dey .dey-logo-type:nth-of-type(6) {
  animation-delay: 100ms;
}

main section svg.dey .dey-logo-type:nth-of-type(3) {
  animation-delay: 125ms;
}

main section svg.dey .dey-logo-type:nth-of-type(8) {
  animation-delay: 150ms;
}

main section svg.dey .dey-logo-type:nth-of-type(9) {
  animation-delay: 175ms;
}

main section svg.dey .dey-logo-type:nth-of-type(4) {
  animation-delay: 200ms;
}

main section svg.dey .dey-logo-type:nth-of-type(11) {
  animation-delay: 225ms;
}

main section.dark svg.dey .dey-logo-type {
  fill: #fff !important;
}

@keyframes deyOne {
  0% {
    transform: skewX(0deg);
  }

  50% {
    transform: skewX(5deg);
  }

  100% {
    transform: skewX(0deg);
  }
}

@keyframes deyTwo {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.1;
  }

  20% {
    opacity: 0.8;
  }

  25% {
    opacity: 1;
  }

  30% {
    opacity: 0.2;
  }

  33% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 0.2;
  }

  90% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@keyframes deyThree {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1, 1.25, 1);
  }
  60% {
    transform: scale3d(1.1, 1.25, 1);
  }
  70% {
    transform: scale3d(1.15, 1, 1);
  }
  80% {
    transform: scale3d(1, 0.7, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes deyTwoPath2 {
  0% {
    transform: skewX(0deg);
  }

  50% {
    transform: skewX(-5deg);
  }

  100% {
    transform: skewX(0deg);
  }
}

main section.animate-2-dey svg.dey.animate .deyOne,
main section.animate-2-dey svg.dey.animate .deyTwo {
  animation-name: deyTwo;
}

main section.animate-2-dey svg.dey.animate .deyOne {
  animation-delay: 60ms;
}

main section.animate-3-dey svg.dey.animate .deyOne,
main section.animate-3-dey svg.dey.animate .deyTwo {
  animation-name: deyThree;
}

main section.animate-3-dey svg.dey.animate .deyOne {
  animation-delay: 60ms;
}

main section svg.en-bank.animate path:nth-of-type(3) {
  animation-name: enBankOne;
  animation-duration: 200ms;
}

main section svg.en-bank.animate path:nth-of-type(5) {
  animation-name: enBankTwo;
  animation-duration: 200ms;
  animation-delay: 50ms;
}

@keyframes enBankOne {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  50% {
    transform: translate3d(0px, 5000px, 0px);
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes enBankTwo {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  50% {
    transform: translate3d(0px, -5000px, 0px);
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}

main section.animate-2-en-bank svg.en-bank.animate path:nth-of-type(1) {
  animation-name: enBankTypeTwoOne;
  animation-duration: 200ms;
}

main section.animate-2-en-bank svg.en-bank.animate path:nth-of-type(2) {
  animation-name: enBankTypeTwoOne;
  animation-duration: 200ms;
  animation-delay: 50ms;
}
main section.animate-2-en-bank svg.en-bank.animate path:nth-of-type(3) {
  animation-name: unset;
}
main section.animate-2-en-bank svg.en-bank.animate path:nth-of-type(4) {
  animation-name: enBankTypeTwoOne;
  animation-duration: 200ms;
  animation-delay: 75ms;
}
main section.animate-2-en-bank svg.en-bank.animate path:nth-of-type(5) {
  animation-name: unset;
}

@keyframes enBankTypeTwoOne {
  0% {
    transform: skewX(0deg);
  }
  50% {
    transform: skewX(20deg);
  }
  100% {
    transform: skewX(0deg);
  }
}

@media screen and (max-width: 700px) {
  main {
    flex-direction: column;
    gap: 55px 0px;
    padding: 50px 0px;
    min-height: 100vh;
    height: auto;
  }
}
